/* Variáveis*/
:root{
    --preto: #141414;
    --branco: #ffffff;

}


/*Reset CSS*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;

}

/* My configuration*/
body {
    list-style: none;
    
}

img{
    width: 100%;
    height: 200px;

}

.storeTitle{
    position: absolute;
    margin-right: 900px;
    margin-top: auto;

}

.navegationBar{
    background-color: var(--preto);
    color: var(--branco);

}

.nav-link{
    color: var(--branco);
    transition: 0.3s;

}

.nav-link:hover{
    color: #0000ff;
    
}

.container.products img{
    height: 633px;

}

.carousel-inner{
    width: 600px;
    margin-left: -100px;

}

.cart.nav-link:hover{
    color: var(--branco);

}

.searchBar{
   margin-left: 879px;
   margin-bottom: 0px;
   width: 300px;

}

.principalProducts{
    display: flex;
    width: 900px;

}

.flexProducts{
    display: flex;
    flex-direction: column;

}

span.btn-danger{
    position: relative;
    border-radius: 0;
    margin-left: 50px;
    margin-right: 105px;
    margin-top: 2px;
    margin-bottom: 10px;

}

.fas.fa-arrow-right{
    margin-left: 10px;

}

h2.navegationBar{
    padding-top: 10px;

}

.navPrincipalProducts{
    margin-top: 10px;

}

.principalOptions{
    display: flex;

}

.gridProducts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    margin-top: 5px;
    grid-gap: 5px;

}

.gridProducts img{
    width: 100%;
    
}

.gridProducts .btn-danger{
    border-radius: 0;

}

.sideBar{
    margin-top: 5px;

}
