/* Variáveis*/
:root{
    --preto: #141414;
    --branco: #ffffff;

}


/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;

}

/* My configuration*/
body {
    list-style: none;

}

img{
    width: 400px;
    height: 200px;

}

.storeTitle{
    position: absolute;
    margin-right: 900px;
    margin-top: auto;

}

.navegationBar{
    background-color: var(--preto);
    color: var(--branco);

}

.nav-link{
    color: var(--branco);
    transition: 0.3s;

}

.nav-link:hover{
    color: #0000ff;
    
}

.container.products img {
    height: 633px;

}

.cart.nav-link:hover{
    color: var(--branco);

}

.searchBar{
   margin-left: 879px;
   margin-bottom: 0px;
   width: 300px;

}

.principalProducts{
    display: flex;

}

.gridProducts{
    display: flex;
    flex-direction: column;

}

span.btn-danger{
    border-radius: 0;
    margin-left: 50px;
    margin-right: 100px;

}

